.journey-section {
    position: relative;
    margin: 0 auto;
}

/* ===== TIMELINE WRAPPER ===== */

.journey-timeline {
    position: relative;
}

.journey-timeline::before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: linear-gradient(
        to bottom,
        rgba(0, 96, 255, 1),
        rgba(0, 96, 255, 0.3)
    );
    box-shadow: 0 0 5rem 0.1rem rgba(0, 96, 255, 0.5);
    pointer-events: none;
}

/* ===== TIMELINE ITEM ===== */

.timeline-item {
    position: relative;
    width: calc(50% - 1.5rem);
    padding: 1.5rem;
}

.timeline-item:first-child {
    padding-top: 0;
}

.timeline-item:nth-child(2n + 1) .timeline-title,
.timeline-item:nth-child(2n + 1) .timeline-date {
    text-align: right;
}

.timeline-item:nth-child(2n) {
    left: 50%;
    text-align: left;
    padding-right: 0;
}

.timeline-item:nth-child(2n + 1) {
    padding-left: 0;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 24px;
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background: rgba(0, 96, 255, 1);
    animation: pulseDot 2.3s ease-in-out infinite;
    box-shadow: 0 0 12px rgba(0, 96, 255, 0.8);
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 23px;
    width: 12px;
    height: 12px;
    border-radius: 999px;
    background: transparent;
    border: 2px solid rgba(0, 96, 255, 0.6);
    animation: rippleDot 2.3s ease-out infinite;
    pointer-events: none;
}

.timeline-item:nth-child(2n + 1)::before {
    right: -7px;
}
.timeline-item:nth-child(2n + 1)::after {
    right: -8px;
}
.timeline-item:nth-child(2n)::before {
    left: -7px;
}
.timeline-item:nth-child(2n)::after {
    left: -8px;
}

.timeline-item:first-child::before {
    top: 5px;
}
.timeline-item:first-child::after {
    top: 4px;
}

@keyframes pulseDot {
    0% {
        transform: scale(1);
        box-shadow: 0 0 6px rgba(0, 96, 255, 0.6);
    }
    50% {
        transform: scale(1.3);
        box-shadow: 0 0 14px rgba(0, 96, 255, 0.9);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 6px rgba(0, 96, 255, 0.6);
    }
}

@keyframes rippleDot {
    0% {
        opacity: 0.7;
        transform: scale(1);
    }
    60% {
        opacity: 0;
        transform: scale(2.8);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.timeline-content {
    border-radius: 14px;
    padding: 16px 18px;
    border: 1px solid rgba(148, 163, 184, 0.3);
    box-shadow: 0 8px 26px rgba(15, 23, 42, 0.1);
}

.timeline-content ul {
    padding-left: 1.5rem;
}

.timeline-date {
    margin: 0 0 1rem 0;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    /* color: rgba(0, 96, 255, 1); */
    color: rgba(0, 96, 255, 1);
}

.timeline-title {
    margin: 6px 0 4px;
    font-size: 1.5rem;
}

.timeline-description {
    opacity: 0.75;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.timeline-end {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.7s ease-out;
}

.timeline-end.visible {
    opacity: 1;
    transform: translateY(0);
}

.end-line {
    height: 2px;
    width: 60%;
    margin: 0 auto 14px;
    background: linear-gradient(
        90deg,
        rgba(105, 199, 255, 0) 0%,
        rgba(0, 96, 255, 1) 40%,
        rgba(0, 96, 255, 1) 60%,
        rgba(105, 199, 255, 0) 100%
    );
}

.end-text {
    text-align: center;
}

.end-text span {
    font-size: 1.25rem;
    letter-spacing: 0.03em;
}

@media (max-width: 1024px) {
    .timeline-description {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .timeline-title {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .end-line {
        width: 80%;
    }

    .journey-timeline::before {
        left: 17px;
        transform: none;
        background: linear-gradient(
            to bottom,
            rgba(0, 96, 255, 1) 0%,
            rgba(0, 96, 255, 0.5) 95%,
            rgba(0, 96, 255, 0) 100%
        );
    }

    .timeline-content ul {
        padding: 0 0 0 1rem;
    }

    .timeline-item {
        width: fit-content;
        left: 0 !important;
        text-align: left;
        padding: 1rem 0 1rem 3rem;
        margin-bottom: 18px;
    }

    .timeline-item::before {
        left: 12px;
        right: auto;
    }

    .timeline-item::after {
        left: 12px;
        right: auto;
    }

    .timeline-content {
        text-align: left;
    }
    .timeline-item:nth-child(2n + 1) {
        padding-left: 48px;
    }

    .timeline-item:nth-child(2n + 1)::before {
        left: 11px;
    }
    .timeline-item:nth-child(2n + 1)::after {
        left: 10px;
    }

    .timeline-item:nth-child(2n)::before {
        left: 11px;
    }
    .timeline-item:nth-child(2n)::after {
        left: 10px;
    }

    .timeline-item:nth-child(2n + 1) .timeline-title,
    .timeline-item:nth-child(2n + 1) .timeline-date {
        text-align: left;
    }
}
